.brand_bg{
	background:#8ee18c;
}

.brand_color{
	color:#8ee18c;
}

a:hover{
	text-decoration:none;
}

@font-face{
	font-family: 'Roboto', sans-serif;
}

body, html{
	width: 100%;
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
}

/*-------------------------------------------*/
.post_title{
	font-weight: bold;
}

.post_subtitle{
	font-size: 1.125em;
	font-weight: bold;
}

.post_date{
	color: #999;
}

.content_title{
	width: 100%;
	text-align: center;
	font-weight: 900;
	font-size: 2.125em;
	padding: 20px 0;
}

.side_title{
	width: 100%;
	font-weight: 900;
	font-size: 1.5em;
	padding: 20px 0;
}

.side_title .line{
	margin-left: 0;
}

.container-fluid{
	padding-left: 0;
	padding-right: 0;
}

.line{
	width: 100px;
	height: 3px;
	background: #8ee18c;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

h3{
	margin-top: 10px;
}

.form-control:focus {
    border-color: #8ee18c;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255,222,0,.6);
}

.form-control{
	padding: 12px;
	height: 40px;
}

.navigator_top{
	width: 100%;
	height: 30px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
}

.navigator_top ul{
	padding: 2px 0;
	margin: 0;
	text-align:right;
}

.navigator_top ul li{
	display:inline;
}

.nav_bar{
	position: fixed;
	width: 100%;
	background: #fff;
	top: 30px;
	left: 0;
	z-index: 999;
	padding: 5px 0;
}

.nav_bar .sub_menu_hover{
	color: #333;
	font-size: 1.5em;
	padding: 12px 10px;
	margin-top: 12px;
	display: inline-block;
}

.well{
	width: 100%;
	padding: 20px 15px;
	background: none;
    border-top: 4px solid #8ee18c;
	border-bottom: none;
	border-left: none;
	border-right: none;
    border-radius: 0;
}

.top_menu{	
	text-align: right;
}

.sub_menu{
	text-align: left;
	
}

.sub_menu .sub_menu_left{
	float: left;
	width: 25%;
}

.sub_menu .sub_menu_mid{
	float: left;
	width: 25%;
	padding: 10px 15px;
}

.sub_menu .sub_menu_right{
	float: left;
	width: 50%;
	padding: 10px 15px;
}

.sub_menu ul li{
	display:list-item;
	text-align: left;
	font-size: 1.125em;
	font-weight: bold;
	margin-bottom: 5px;
}

.sub_menu ul{
	list-style: none;
	margin-top: 0;
	padding-left: 0;
}

.sub_menu img{
	width:100%;
}

.sub_menu a{
	color: #333;
}

.sub_menu a:hover{
	color: #8ee18c;
}

.main_content{
	margin-top: 80px;
}

.slide{
	width:100%;
}

#slide_product .carousel-indicators{
	
}

.content_title{
	width: 100%;
	text-align: center;
	font-weight: 900;
	font-size: 2.125em;
	padding: 20px 0;
}

.carousel-indicators .active{
	background: #8ee18c;
	width: 17px;
	height: 17px;
}

.carousel-inner .item img{
	width: 100%;
}

.carousel-indicators li{
	background: #333;
	width: 13px;
	height: 13px;
}

.carousel-caption p{
	color: #333;
}

.content{
	padding-top: 30px;
	padding-bottom: 20px;
}

.carousel-caption{
	text-align: left;
	text-shadow:none;
}

.hvr-sweep-to-right:before {
  background: #8ee18c;
}

.index_about img{
	width: 100%;
	margin-top: 20px;
}

.index_about .quick_intro{
	margin-top: 50px;
	margin-bottom: 30px;
}

.index_about .quick_intro .item{
	text-align: center;
}

.index_break{
	background: #efefef;
	padding-top: 0;
	padding-bottom: 0;
}

.index_break img{
	width: 100%;
}

.index_break .content_right{
	margin: auto;
}

.index_break .content_right .content_title{
	margin-left:15px;
	text-align:left;
}

.index_break .content_right .line{
	margin-left:0;
}

.page_list{
	width: 100%;
	text-align: center;
	font-size: 1.7em;
	font-weight: bold;
	padding: 20px 0;
}

.hot_news{
	margin-bottom: 15px;
}

.hot_news img{
	width: 100%;
}

#slide_news .carousel-indicators{
	bottom: 0;
	left: 15px;
}

.news_related{
	margin-bottom: 15px;
}

.cover{
	width: 100%;
	margin-top: 60px
}

.cover img{
	width: 100%;
}

.page_list ul{
	list-style: none;
	font-size: 0.825em;
}

.page_list ul li{
	display: inline;
	padding: 0 10px;
}

.page_list ul li a{
	color: #333;
}

.page_list ul li a:hover{
	color: #8ee18c;
}

.news img{
	width: 100%;
}

.news_side{
	padding: 0;	
}

.news_side_item{
	padding: 15px;
	background: #efefef;
	margin-bottom: 15px;
}

.content{
	margin-top: 100px;
}

.vision_cover img, .structure_cover img, .culture_cover img{
	width: 100%;
}

.vision_table_number{
	font-size: 3em;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
	border-top: none;
	vertical-align: middle;
}

.structure_content table tr td{
	width: 33.33%;
	text-align: center;
	padding: 10px;
}

.culture_content img{
	width: 100%;
}

.news_img{
	padding: 30px 0;
}

.map{
	width: 100%;
	height: 600px;
}

.contact_form{
	padding-top: 50px;
}

.history_item{
	position: relative;
}

.history_circle{
	text-align: center;
}

.history_circle i{
	vertical-align: middle;
}

.history_year{
	padding: 10px;
	font-size: 2.125em;
	font-weight: bold;
	text-decoration: underline;
}

.history_content{
	padding: 10px;
	background: #f4f4f4;
}

.history_content img{
	width: 100%;
	margin-bottom: 20px;
}

.history_item{
	margin-bottom: 10px;
}

.recuitment_item{
	padding-top: 15px;
	padding-bottom: 15px;
}

.recuitment_inner{
	background: #f4f4f4;
	padding: 20px 15px;
}

.recuitment_item img{
	width: 100%;
}

.drug_content{
	margin-top: 15%;
}

.drug_list{
	margin-top: 30px;
	clear: both;
}

.drug_list_item{
	padding-top: 15px;
	padding-bottom: 15px;
}

.drug_list_item img{
	width: 100%;
}

.drug_list_item .drug_list_inner{
	background: #f4f4f4;
	padding: 20px;
}

.drug_choice{
	width: 100%;
}

.drug_list_content img{
	width: 100%;
}

.drug_post_content{
	padding: 20px;
	background: #f4f4f4;
}

.tab-pane{
	padding-top: 30px;
}

#drug_askus .table tr td{
	vertical-align: top;
}

#drug_askus label{
	font-size: 1.5em;
}

#drug_info table tr td{
	vertical-align: top;
}

.nav-tabs{
	margin-top: 50px;
	border-bottom: 1px solid #8ee18c;
}

.nav-tabs li a{
	color: #333;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
	border: 1px solid #8ee18c;
	border-bottom-color: transparent;
}

footer{
	margin-top: 50px;
}

footer .quick_link ul{
	list-style: none;
	padding-left: 0px;
}

footer .quick_link ul a{
	color:#333;
}

footer .container-fluid{
	background: #efefef;
}

footer .container{
	margin-bottom: 20px;
}

footer .copyright{
	color: #fff;
	background: #8ee18c;
	padding: 12px;
	text-align: center;
}

.scrollup {
    padding: 10px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: none;
	text-align: center;
    background-color: #8ee18c;
	color: #fff;
}

.scrollup:hover{
	cursor: pointer;
}


/*-------------------------------------------*/

@media(max-width:1024px){
	
}
