@media(max-width:768px){
	.logo{
		text-align:center;
	}
	
	.nav_bar ul{
	}
	
	#slide_top{

	}
	
	#slide_top img{

	}
	
	#slide_top .carousel-inner{

	}
	
	.content_title {
		padding-right: 15px;
		text-align: left;
	}
	
	.line{
		margin-left: 0;
	}
	
	.nav_bar .sub_menu_hover {
		font-size: 1em;
		padding: 10px 5px;
		margin-top: 12px;
		display: inline-block;
	}
	
	.top_menu{
		text-align: left;
	}
	
	.main_content{
		margin-top: 180px;
	}
	
	.page_list{
		margin-top: 60px;
	}
	
	.page_list ul{
		width: 80%;
		padding-left: 0;
		margin: 0 auto;
	}
}

@media(min-width:768px) and (max-width:992px){


	.main_content{
		margin-top: 0px;
	}
}